@charset "utf-8";
@mixin pc {
  @media only screen and (min-width: 641px) {
    @content;
  }
}
@mixin ma {
	margin:0 auto;
}
@mixin fs($size) {
	font-size:( $size /2 ) *1px;
	font-size:( $size /640 *100 ) *1vw;
}